.montserrat-alt {
    font-family: "Montserrat Alternates", sans-serif;
  }
  .background_image {
    background-image: url("./public/images/Form1_v1p.webp");
  }
  #navbar {
    transition: top 0.3s;
  }
  .nav-hidden {
    top: -100px;
  }
  .nav-visible {
    top: 0;
  }
  .blur-effect *:not(#searchOverlay, #searchOverlay *) {
    filter: blur(5px);
  }
  #searchOverlay {
    /* Make sure the search overlay is above everything else */
    z-index: 1000;
  }
  #searchOverlay .bg-white {
    /* Ensure high contrast for the search box */
    color: black; /* Or any color that contrasts well with the background */
    z-index: 1001; /* Above the overlay */
  }
  .hover-effect {
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease; /* Optional: if you want to change the text color on hover */
  }

  .hover-effect::before {
    content: "";
    position: absolute;
    top: -100%; /* Start from above */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkblue; /* Your desired hover color */
    transition: top 0.5s ease;
    z-index: 0;
  }

  .hover-effect:hover::before {
    top: 0;
  }

  .hover-effect * {
    position: relative;
    z-index: 1;
  }


  
  .wrapper {
    padding-left: 1.25rem; /* This is equivalent to Tailwind's px-5 */
    padding-right: 1.25rem; /* Tailwind uses a default scale where px-5 equals to 1.25rem */
  }
  
  /* Medium screens (768px and larger) */
  @media (min-width: 768px) {
    .wrapper {
      padding-left: 150px;
      padding-right: 150px;
    }
  }

  .heading-4 {
    font-size: 1.875rem; /* Equivalent to Tailwind's text-3xl */
    color: #59bec9; /* Custom color */
    font-family: 'Montserrat', sans-serif; /* Assuming 'Montserrat-alt' refers to the Montserrat font */
}
.tab-element {
    display: none;
    padding-top: 3rem;
    background-color: white;
    border-radius: 0.5rem;
}
.font-color {
    color: #59bec9;
    font-size: 1.875rem;
}
.full-width-small-text {
    width: 100%;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    font-size: 0.875rem;
    line-height: 1.25;
}

.rounded-box-white-shadow {
    border-radius: 0.5rem; /* Equivalent to rounded-lg */
    background-color: white; /* Equivalent to bg-white */
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); /* Equivalent to shadow */
}
.focus-bold:focus {
    font-weight: bold;
}

.font-normal {
    font-weight: 400;
}

.text-black {
    color: black;
}
.flex-space-x-1 {
    display: flex;
    padding: 1px;
    gap: 1px;
    border-radius: 0.75rem;
}
